// $theme-colors: (
//   "primary": #0074d9,
//   "danger": #ff4136
// );
:root {
    --primary-color: #0074d9;
}

.bg-dark{
    background-color: #0a804a !important;
}

.border-5{
    border-radius: 5px;
}

.input{
    border-radius:  5px !important;
}

button{
    border-radius:  5px !important;
}

.border-20{
    border-radius: 20px;
}

.btn-light{
    background-color: #ffba00 !important;
}

.btn-primary{
    background-color: #FF6000 !important;
}

.btn-outline-success{
    background-color: #0074d9;
    border: none;
    color: #ffff;
}

.btn-outline-success:hover{
    background-color:  #FF6000 !important;
}
// // Import Bootstrap and its default variables
// @import './bootstrap.min.css';